.todos, .add-todo {
    width: 55%;
    margin: 0 auto;
}

.add-todo {
    margin-top: 100px;
}

.todo__action {
    float: right;
    background-color: black !important;
    color: white !important;
    line-height: 20px;
    cursor: pointer;
}