.title {
    text-align: center;
}


.todos,
.add-todo,
.filter {
    width: 55%;
    margin: 70px auto 0 auto;
}

.todo__action {
    float: right;
    background-color: black !important;
    color: white !important;
    line-height: 20px;
    cursor: pointer;
}